@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: "Poppins", ui-sans-serif, system-ui;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@theme {
  --color-button: #DF5800;
  --color-button-hover: #bf4a00;
}

@layer base {
  html {
    font-family: var(--font-poppins);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}


.scrl-hide::-webkit-scrollbar {
  display: none;
}
.scrl-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none;    /* Firefox */
}
